[submodule "depends/googletest"]
	path = depends/googletest
	url = https://github.com/google/googletest.git
	branch = master
[submodule "depends/clipp"]
	path = depends/clipp
	url = https://github.com/muellan/clipp.git
	branch = master
[submodule "depends/clip"]
	path = depends/clip
	url = https://github.com/dacap/clip.git
	branch = master
[submodule "depends/libzmq"]
	path = depends/libzmq
	url = https://github.com/zeromq/libzmq.git
	branch = master
[submodule "depends/czmq"]
	path = depends/czmq
	url = https://github.com/zeromq/czmq.git
	branch = master
[submodule "depends/zyre"]
	path = depends/zyre
	url = https://github.com/zeromq/zyre.git
	branch = master
